.fullList{
  color: red;
  background-color: blue;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}


.navigation {
  width: 100%;
  float: left;
  text-align: center;
}


.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;

}


.mainmenu a {
  display: block;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  color: #000;
}


.mainmenu a:hover {
  background: rgb(211, 211, 211);

}




.mainmenu li:hover .submenu {
  display: block;
  max-height: 250px;
}



.submenu a {
  background-color: rgb(235, 235, 235);
}


.submenu a:hover {
  background-color: rgb(185, 184, 184);
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.6s ease-in;
}




