h1 {
  margin-bottom: 20px;
  color: #9fa1b1;
  text-align: center;
  font-size: 10px;
  color: black;
}
.home-svg {
  transform: scale(1.6);
  opacity: 0.7;
}
.home-div {
  padding-top: 8%;
  padding-bottom: 30px;
}
.nav-main a {
  color: black;
}
.title {
  cursor: pointer;
  /* background-image: linear-gradient(-180deg, #ff1c68 0%, #9f0092 300px); */
  padding: 10px 8px;
  margin: 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: black;
}

.content {
  color: black;
  overflow: hidden;
  font-size: 18px;
  background: rgba(231, 229, 229, 0.8);
}
.content :hover {
  overflow: hidden;
  font-size: 18px;
  background: rgba(189, 188, 188, 0.8);
  -webkit-transition: all 0.4s ease-in;
}

.content-wrapper {
  padding: 5px 2px 6px 8px;
}
.not {
  color: rgb(230, 129, 129);
}
